streamlit>=1.32.0
requests
matplotlib
openai>=1.0.0
langchain-community>=0.0.20
langchain-huggingface
zhipuai>=2.0.0
chromadb>=0.5.0
protobuf>=4.25.0
opentelemetry-exporter-otlp-proto-grpc>=1.20.0
opentelemetry-sdk>=1.20.0
plotly>=5.18.0
pymupdf
Pillow
numpy<2.0.0
streamlit-lottie
yt-dlp
scipy
pandas
statsmodels
PyYAML
